<div class="col-sm-12 p-3 m-0 d-md-flex flex-wrapmt-1" @fade>
    <div class="col-sm-8 col-md-5 col-lg-4 shadow-sm border rounded p-3">
        <div class="d-flex flex-column col-sm-12 p-0 m-0">
            <span class="rounded-circle d-none d-sm-inline-block  main-color mx-auto text-center" style="width: 4em; height: 4em;"></span>
            <span class="rounded-circle main-color d-sm-none d-inline-block mx-auto text-center" style="width: 3em; height: 3em;"></span>
            <span class="h3 d-none d-sm-block mt-2 mb-0 text-montserrat-bold text-center">{{userConnected.prenom}} {{userConnected.nom}}</span>
            <span class="h5 d-sm-none mt-2 mb-0 text-montserrat-bold text-center">{{userConnected.prenom}} {{userConnected.nom}}</span>
            <span  class="text-montserrat text-center">ID: {{userConnected.id}}</span>  
        </div>
        <div class="col-sm-12 p-0 mt-3 pl-sm-3">
            <span class="h7 text-montserrat-bold d-block">Solde USD: {{appConfig.userConnected.compte.soldeUSD}} $</span>
            <span class="h7 text-montserrat-bold d-block">Solde CDF: {{appConfig.userConnected.compte.soldeCDF}} FC</span>
            <div *ngIf="userConnected.login.role == 'manager'">
                <hr>
                <span class="h7 text-montserrat-bold d-block">Solde Appro USD: {{appConfig.userConnected.compte.approUSD}} $</span>
                <span class="h7 text-montserrat-bold d-block">Solde Appro CDF: {{appConfig.userConnected.compte.approCDF}} FC</span>
            </div>
            <span class="text-montserrat d-block">Téléphone: {{appConfig.userConnected.telephone}}</span>
            <!-- <div class="d-flex justify-content-start">
                <button [routerLink]="['/retrait']" class="btn btn-sm text-white text-montserrat main-color mt-2 shadow"> Retrait</button>
                <button [routerLink]="['/mes-retraits']" class="btn btn-sm text-white text-montserrat main-color ml-2 mt-2 shadow">Mes retraits</button>
            </div> -->
            <div class="d-flex justify-content-start flex-wrap">
                <span [routerLink]="['/retrait']" class="rounded shadow btn btn-sm text-white main-color text-center text-montserrat mt-1 cursor"> Retrait</span>
                <span [routerLink]="['/mes-retraits']" class="rounded shadow btn btn-sm text-white main-color text-center text-montserrat ml-2 mt-1 cursor">Mes retraits</span>
                <span [routerLink]="['/branche']" class="rounded shadow btn btn-sm text-white main-color text-center text-montserrat mt-1 ml-2 cursor" ><i class="fa fa-plus"></i> Branche</span>
                <span [routerLink]="['/mes-paiements']"  *ngIf="userConnected.login.role == 'manager'"  class="btn btn-sm text-white text-montserrat main-color shadow mt-1 ml-2 ">Mes paiements</span>
                <span [routerLink]="['/activation']"   *ngIf="userConnected.login.role == 'manager'" class="btn btn-sm text-white text-montserrat main-color shadow mt-1 ml-2 ">Activation</span>
                <span [routerLink]="['/mes-activations']" *ngIf="userConnected.login.role == 'manager'"  class="btn btn-sm text-white text-montserrat main-color shadow mt-1 ml-2 ">Mes Activations</span>
            </div>
        </div>  
    </div>
    <div class="col-md-10 p-2">
        <div class="ml-1 pl-0 pl-md-1 pb-1 py-1 pt-md-0 pb-md-1 overflow-auto d-flex">
            <app-branche-box style="padding: 0px; margin: 0;" *ngFor="let arbre of arbres" [arbre]="arbre" (click)="showArbre(arbre)" class="col-11 col-md-8 mr-2 col-sm-8 border rounded m-0"></app-branche-box>
        </div>
        <div class="ml-1 pl-0 pl-md-1 pb-1 py-1 pt-md-0 pb-md-1 overflow-auto d-flex">
            <app-resume-branche [arbre]="currentArbre" class="col-11 col-md-8 p-0"></app-resume-branche>
        </div>
    </div>
</div>