<nav class="navbar navbar-expand-md p-3 main-color">
    <a class="navbar-brand"  [routerLink]="['/']"  [replaceUrl]="true" href="#">
        <img src="assets/images/logo.png" width="30" class="d-inline-block align-center" alt="" loading="lazy">
        <span class="d-md-none text-nexa-bold text-white ml-1">I-LIKELEMBA</span>
      </a>
    <button #namedElement class="navbar-toggler text-dark bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-label="Toggle navigation">
      <i class="fa fa-align-justify"></i>
    </button>
    <!-- <span class="navbar-toggler btn btn-danger" type="" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-buffer"></i>
    </span> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item active" (click)="hide()">
          <a class="nav-link text-white text-montserrat-bold"  [routerLink]="['/']"  [replaceUrl]="true"  href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" (click)="hide()">
          <a class="nav-link text-white text-montserrat-bold" [routerLink]="['/about']"  [replaceUrl]="true" href="#">À propos</a>
        </li>
        <li class="nav-item"  *ngIf="isConnected" (click)="hide()" @fade>
            <a [routerLink]="['/myaccount']" class="nav-link text-white text-montserrat-bold" href="#">Mon compte</a>
        </li>
        <!-- <li class="nav-item" (click)="hide()">
          <a class="nav-link text-white text-montserrat-bold" href="#">FAQ</a>
      </li> -->
      </ul>
      <div class="btn btn-sm btn-danger mr-sm-5 ml-sm-5" *ngIf="!isConnected" (click)="hide()" [routerLink]="['/login']"  [replaceUrl]="true">Se connecter</div>
      <div class="dropdown btn btn-sm btn-info text-white mr-sm-5 ml-sm-5" *ngIf="userConnected && isConnected">
          <a href="#" class="dropdown-toggle text-white text-decoration-none text-montserrat" id="userconnectedDropdwon" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-user"></i> {{userConnected.prenom}} {{userConnected.nom}}
          </a>
          <div class="dropdown-menu" aria-labelledby="userconnectedDropdwon">
            <a class="dropdown-item" [routerLink]="['/myaccount']" (click)="hide()" href="#">Mon compte</a>
            <a class="dropdown-item" *ngIf="appConfig.userConnected.login.role == 'manager'" [routerLink]="['/mes-paiements']" (click)="hide()"  (click)="hide()" href="#">Mes paiements</a>
            <a class="dropdown-item" [routerLink]="['/config']" (click)="hide()" href="#">Paramètres</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="disconnect()" href="#">Se deconnecter</a>
          </div>
      </div>
    </div>
  </nav>