<div class="row p-3 flex-wrap m-0 main-color">
    <div class="col-sm-4">
        <span class="h6 d-block text-center m-0 text-montserrat-bold d-block">LIENS RAPIDES</span>
        <span class="text-white d-block m-0 text-center text-montserrat my-1" [routerLink]="['/']"> Accueil</span>
        <span class="text-white d-block m-0 text-center text-montserrat my-1" [routerLink]="['/about']"> A propos</span>
        <span class="text-white d-block m-0 text-center text-montserrat my-1" [routerLink]="['/myaccount']" > Mon compte</span>
    </div>
    <div class="col-sm-4 my-2 my-sm-0">
        <span class="h6 d-block text-center text-montserrat-bold d-block">LIKELEMBA INTELLIGENT</span>
        <span class="text-white d-block text-center text-montserrat my-1"> Pourquoi likelemba intelligent?</span>
        <span class="text-white d-block text-center text-montserrat my-1"> Le parrainage</span>
        <span class="text-white d-block text-center text-montserrat my-1"> Le paiement</span>
        <span class="text-white d-block text-center text-montserrat my-1"> Le compte MLI</span>
    </div>
    <div class="col-sm-4">
        <span class="h6 d-block text-center text-montserrat-bold d-block">CONTACTS</span>
        <span class="text-white d-block text-center text-montserrat my-1"> email: likelembaintell@gmail.com</span>
        <span class="text-white d-block text-center text-montserrat my-1"> Téléphone: +243 903540549</span> 
        <span class="text-white d-block text-center text-montserrat my-1"> Adresse: sise Avenue Kabinda N° 68 Kinshasa/Kinshasa</span>
        <span class="text-white d-block text-center text-montserrat my-1"> <a href="https://www.facebook.com/Likelemba-Intelligent-376219879496054/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook mr-5 p-2 text-primary bg-white rounded"></i></a> <a href="https://api.whatsapp.com/send?phone=243903540549"  target="_blank" rel="noopener noreferrer"><i class="fa fa-whatsapp p-1 text-primary bg-white mr-5"></i></a> <i class="fa fa-twitter p-1 text-primary bg-white mr-5"></i> <i class="fa fa-linkedin p-1 text-primary bg-white"></i></span>
    </div>

    <div class="col-sm-12 p-0 mx-0 mb-0 mt-5">
        <div class="offset-sm-3 col-sm-6">
            <span class="h4 text-montserrat text-white d-block">LAISSEZ NOUS UN MESSAGE</span>
            <hr class="bg bg-white">
            <form action="/" class="d-block">
                <span class="h5 text-montserrat text-white d-block">Noms</span>
                <input type="text" name="" id="" class="form-control rounded-0">
                <span class="h5 text-montserrat mt-2 text-white d-block">Email</span>
                <input type="text" name="" id="" class="form-control rounded-0">
                <textarea name="" id="" placeholder="Saisissez le message ici" cols="30" rows="10" class="form-control rounded-0 mt-3" style="height: 100px;"></textarea>
                <button type="submit" class="btn btn-danger text-montserrat-bold rounded mt-3">Envoyer</button>
            </form>
        </div>
    </div>
</div>