<div class=" body h-100">
    <div class="col-12 p-1 m-0 mt-1 d-flex justify-content-center">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form text-white col-sm-12 col-md-6 mt-md-5 p-3 shadow" style="background-color: rgba(5, 44, 117, 0.904);">
            <h2 class="text-center font-weight-bold">CREATION BRANCHE</h2>
            <hr class="mx-3">
            <div class="form-group">
                <label for="">Description de la branche</label>
                <input type="text" name="desc" [(ngModel)]="arbre.description" class="form-control form-control-sm rounded-0 col-12 px-1 m-0">
            </div>
            <div class="form-group">
                <label for="">Montant d'adhésion</label>
                <input type="number"  step="0.001" [(ngModel)]="arbre.montant" name="prenom" class="form-control form-control-sm rounded-0 col-12 px-1 m-0">
            </div>
            <div class="form-group">
                <label for="">Devise</label>
                <select name="descripstion" required [(ngModel)]="arbre.fkDevise" class="form-control form-control-sm rounded-0 col-12 px-1 m-0">
                    <option value="{{undefined}}">SELECTIONNER DEVISE</option>
                    <option  *ngFor="let devise of devises" value="{{devise.id}}">{{devise.description}}</option>
                </select>
            </div>
            <button type="submit" [disabled]="form.invalid" mat-raised-button color="accent" class="col-12 rounded-0">Valider</button>
        </form>
    </div>
</div>

