<div class="col-sm-12 m-0 p-0" @fade>
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">MES RETRAITS</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <div *ngIf="paiements" class="overflow-auto" style="height: 70vh;" @fade>
            <div class="mt2 p-2 border mt-2 rounded" *ngFor="let paiement of paiements">
                <span class="d-block m-0 text-montserrat-bold">Montant USD: {{paiement.montantTotalUSD}}</span>
                <span class="d-block m-0 text-montserrat-bold">Montant CDF: {{paiement.montantTotalCDF}}</span>
                <span class="d-block text-montserrat" *ngIf="paiement.fkAdmin" style="font-size: small;">ID Agent: {{paiement.fkAdmin}}</span>
                <span class="d-block text-montserrat" *ngIf="paiement.fkManager" style="font-size: small;">ID Manager: {{paiement.fkManager}}</span>
                <span class="d-inline-block m-0 text-montserrat mt-1" style="font-size: small;">Date demande: {{paiement.dateDemande | date:'dd/MM/yyyy'}}</span>
                <span class="d-block m-0 text-montserrat mt-1" *ngIf="paiement.datePaiement" style="font-size: small;">Date paiement: {{paiement.datePaiement | date:'dd/MM/yyyy'}}</span>
                <span class="d-block text-montserrat" style="font-size: small;">Statut: {{paiement.etat}}</span><br>
                <div *ngIf="!paiement.statut" (click)="annuler(paiement)" class="btn text-white btn-sm main-color ml-auto" style="font-size: small;">Annuler</div>
            </div>
        </div>
    </div>
</div>