<div class="col-sm-12 h-25 pb-5">
      <ul class="list-group">
          <li class="d-block border border-primary rounded" routerLink="main/add-filleul"  (click)="close()">
              <button mat-button class="w-100 bg bg-light">Parrainer un membre</button>
          </li>
          <li class="d-block border border-primary rounded mt-1" routerLink="main/create-branche" (click)="close()">
            <button mat-button class="w-100 bg bg-light">Nouvelle branche</button>
        </li>
      </ul>
</div>