<div class="font-weight-bold p-3 border rounded my-2">
    <span class="d-block">NOMS: {{membre.nom}} {{membre.postnom}} {{membre.prenom}}</span>
    <span class="d-block">TELEPHONE: {{membre.telephone}}</span>
</div>