<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">EFFECTUER UN RETRAIT</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <form  (ngSubmit)="onSubmit()" #form="ngForm" *ngIf="config">
            <select name="gbbbbgbg" name="vdvdvdfd" id="dev" [(ngModel)]="type" class="form-control">
                <option value="AGENT">AUPRES D'UN AGENT</option>
                <option value="MANAGER">AUPRES D'UN MANAGER</option>
            </select>
            <label for="nodfdfdm" *ngIf="type == 'AGENT'" style="font-size: small;" class="text-montserrat mt-3">ID DE L'AGENT<span class="text-danger">*</span></label>
            <input type="text" *ngIf="type == 'AGENT'" name="gfbgbdsff" [(ngModel)]="paiement.fkAdmin" maxlength="10" id="nom" class="form-control">
            <label for="nodfdfdm" *ngIf="type == 'MANAGER'" style="font-size: small;" class="text-montserrat mt-3">ID DU MANAGER<span class="text-danger">*</span></label>
            <input type="text" *ngIf="type == 'MANAGER'" name="gfbgbdsff" [(ngModel)]="paiement.fkManager" maxlength="10" id="nom" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="montant" name="nom" id="noffbbfbbm" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">FRAIS({{config.valueDecimal}} %)</label>
            <input type="number" [value]="(montant * config.valueDecimal/100).toFixed(3)" disabled="disabled" name="nom" id="noffbbjhjhjhfbbm" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT TOTAL</label>
            <input type="number" [value]="((montant * config.valueDecimal/100) + montant).toFixed(3)" disabled="disabled" name="nom" id="noffbbjhjhjhfbbm" class="form-control">
            <label for="nom" style="font-size: small;" class="text-montserrat mt-3">DEVISE<span class="text-danger">*</span></label>
            <select name="gbbbbgbg" name="vdvdv" id="dev" [(ngModel)]="devise" class="form-control">
                <option value="0">SELECTIONNER DEVISE</option>
                <option  *ngFor="let devise of devises" value="{{devise.code}}">{{devise.description}}</option>
            </select>
            
            <button type="submit" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">VALIDER</button>
        </form>
    </div>
</div>