<div class="col-sm-12">
    <span class="text-center d-block h5 font-weight-bold"><i class="fa fa-check-circle text-success"></i></span>
    <p class="col-sm-12">{{message}}</p>
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary btn-sm rounded-0" mat-dialog-close>OK</button>
    </div>
</div>