.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
    background-color: #001064;
  }
  
  .menu-item{
    color: white;
  }
  
  .menu-item:hover{
    background-color: rgba(0, 0, 0, 0.63);
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  @media(max-width: 960px){
    .toolbar-breadcumb{
      background-color: #010c42;
      color: white;
      height: 2.5em;
      display: inline-flex;
    }

    .user-initiale-name-content{
      width: 25px;
      /* height: 50px; */
      background-color: white;
      border-radius: 50%;
    }
    
  }
  @media(min-width: 960px){
    .toolbar-breadcumb{
      background-color: #010c42;
      color: white;
      height: 2.5em;
      display: none;
    }
  }
  
  @media(min-width: 680px){
    .sidenav {
      width: 300px;
    }
  }
  
  #app-title{
    font-family: "Nexa Bold";
    letter-spacing: 2px;
    font-size: 20px;
    display: inline-flex;
  }
  
  .toolbar{
    background-color: #010c42;
    color: white;
    height: 2.5em;
  }
  
  .userconnected-box{
    height: 40%;
    background-color: #001164ee;
    /* background-color: white; */
  }
  
  .user-initiale-name-content{
    width: 75px;
    /* height: 50px; */
    background-color: white;
    border-radius: 50%;
  }
  
  .user-initiale-name{
    font-family: "Nexa Bold";
  }
  
  .user-username{
    font-family: "Nexa Bold";
    color: white;
    text-transform: uppercase;
  }