<div class="col-sm-12 m-0 p-0 bg bg-light" @fade>
    <div class="col-sm-6 offset-sm-3 p-3 h-75">
        <span class="text-montserrat-bold h5 d-block">APPROVISIONNER UN COMPTE MANAGER</span>
        <hr class=" mr-0" style="height: 3px; background-color: #010c42; width: 90%;">
        <label for="nodfdfdm" style="font-size: small;" class="text-montserrat mt-3">TELEPHONE<span class="text-danger">*</span></label>
        <input type="text" name="gfbgbdsff" [(ngModel)]="telephone" maxlength="16" id="nom" class="form-control">
        <button mat-raised-button color="primary" (click)="onSearch()" class="mt-2">Recherche</button>
        <app-compte *ngIf="membre" [membre]="membre"></app-compte>
        <div *ngIf="membre">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT RECU CDF<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="montantcdf"  name="cdf" id="noffbbfbbm" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT RECU USD<span class="text-danger">*</span></label>
            <input type="number" [(ngModel)]="montantusd"  name="usd" id="noffbbfbbm" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT TOTAL CDF(GAIN INCLU)<span class="text-danger">*</span></label>
            <input type="number" disabled="disabled" [value]="(montantcdf + (montantcdf * config.valueDecimal /100)).toFixed(3)"  name="cdf" id="noffbbfbbm" class="form-control">
            <label for="nom" style="font-size: small;"  class="text-montserrat mt-3">MONTANT TOTAL USD(GAIN INCLU)<span class="text-danger">*</span></label>
            <input type="number" disabled="disabled" [value]="(montantusd + (montantusd * config.valueDecimal /100)).toFixed(3)"  name="usd" id="noffbbfbbm" class="form-control">
            <button (click)="onSubmit()" class="btn text-white mt-3 rounded-pill p-2 col-6 offset-3 shadow main-color cursor">VALIDER</button>
        </div>
    </div>
</div>